doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/style/WelCome.css')
    link(rel='stylesheet', href='/style/Common.css')
    link(rel='stylesheet', href='/style/Error.css')
  body
    block content
script(src="http://libs.baidu.com/jquery/1.9.0/jquery.js")
